html {
    background-color: #000000;
    overflow: hidden;
}

body {
    margin: 0;
    padding: 0;

    color: white;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.heading {
    position: flex;

    background-color: #35363A;
}

h1 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.gameCamera {
    margin: auto;
    background-color: #202124;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    position: relative;
    height: 650px;

    float: top;
}

.canvas {
    background-color: #202124;
    position: flex;
    width: 600px;
    height: 450px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    float: top;
}

.player {
    width: 25px;
    height: 25px;

    color: white;
    position: absolute;
}
