html {
    background-color: #000000;
}

body {
    margin: 0;
    padding: 0;

    color: white;
    font-family: Roboto, 'Segoe UI', Tahoma, sans-serif;
}

.heading {
    position: flex;

    background-color: #35363A;
}

h1 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
}

.gameCamera {
    background-color: #202124;
    position: flex;
    height: 500px;

    float: top;
}
